body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/file cover - 1.png");
  background-size: cover; /* Imagem de fundo cobrindo todo o elemento */
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgb(253, 176, 34);
  padding: 40px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background-color: rgb(4, 35, 65);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1d2939;
}
