/* CSS base para o corpo da página */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/file cover - 1.png");
  background-size: cover; /* Imagem de fundo cobrindo todo o elemento */
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo do contêiner de login */
.login-container {
  background-color: rgb(253, 176, 34);
  padding: 40px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo dos campos de entrada */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

/* Estilo do botão de login */
button {
  background-color: rgb(4, 35, 65);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* Estilo do botão de login ao passar o mouse */
button:hover {
  background-color: #1d2939;
}

/* Media queries para diferentes dimensões de tela */
@media (max-width: 600px),
  (max-width: 803px) and (max-height: 633px),
  (max-width: 1074px) and (max-height: 878px),
  (max-width: 768px) and (max-height: 1024px),
  (max-width: 820px) and (max-height: 1180px),
  (max-width: 834px) and (max-height: 1194px),
  (max-width: 884px) and (max-height: 1104px) {
  body {
    background-image: none; /* Remove a imagem de fundo */
    background-color: #344054; /* Cor de fundo  */
  }
}
